.card {
  border-radius: 10px;
}
.btn {
  text-transform: none;
}

svg {
  width: 340px;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  position: relative;
  display: block;
}
text {
  fill: #333;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}
